.alarm-nav {

    &__btn {

        &:hover .alarm-nav__icon {
            transform: scale(1.1) !important;
        }
    }

    &__icon {
        font-size: 30px !important;
        color: #ccc !important;
        transition: 0.3s !important;

    }

    &--active {
        color: #575757 !important;
    }

    &__icon-dark {
        color: #333 !important;
    }

    &__icon-dark--active {
        color: #ccc !important;
    }

}

.MuiBadge-badge {
    font-size: 12px !important;
}