.fullscreen {

    &__btn {

        &:hover .fullscreen__icon {
            transform: scale(1.1) !important;
        }

        @media only screen and (max-width : 425px) {
            padding: 8px !important;
        }
    }

    &__icon {
        font-size: 30px !important;
        color: #ccc !important;
        transition: 0.3s !important;

    }
}