.location {
    &__text-center {
        display: block;
        text-align: center;
    }

    &__display-b {
        display: block;
    }

    &__warship {
        display: block;
        color: #d7d722;
    }
}