.minesNav {

    &__btn {

        &:hover .minesNav__icon {
            transform: scale(1.1) !important;
        }

        @media only screen and (max-width : 425px) {
            padding: 8px !important;
        }
    }

    &__icon {
        transition: 0.3s;
    }
}


.min-loader {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid;
    border-color: #337AB7 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}