.settings {

    &__btn {
        transition: 0.5s !important;

        @media only screen and (max-width : 425px) {
            padding: 8px !important;
        }

        &:hover {
            transform: rotate(45deg) !important;
        }
    }

    &__icon {
        font-size: 30px !important;
        color: #ccc !important;
    }
}